@mixin resize($point) {
  @if $point == large {
    @media (max-width: 1600px) { @content; }
  }
  @else if $point == mid {
    @media (max-width: 1000px) { @content; }
  }
  @else if $point == small {
    @media (max-width: 667px)  { @content; }
  }
}

#footer,
#header {
  position: absolute;
  padding: 24px;
  z-index: 1;
  width: 100%;
}

#footer {
  position: absolute;
  bottom: 0;
}

.left {
  display: inline-block;
  width: 200px;
  vertical-align: top;
  @include resize(mid) {
    width: 110px;
  }
}

.right {
  display: inline-block;
}
