#footer,
#header {
  position: fixed;
  padding: 24px;
  width: 100%;
}

#header {
  z-index: 2;
  top: 0;
  background: #fbf7ee;
}

#footer {
  bottom: 0;
  background: #fbf7ee;
  @include resize(small) {
    z-index: 2;
  }
}

.left,
.right,
.title {
  display: inline-block;
}

.left {
  margin-right: 100px;
  vertical-align: top;
  @include resize(small) {
    margin-right: 22px;
  }
}

#footer .right {
  position: fixed;
  margin-right: 28px;
  right: 0;
  bottom: 48px;
  @include resize(small) {
    bottom: 0;
    top: 25px;
    font-size: 1.2em;
  }
}