@mixin resize($point) {
  @if $point == large {
    @media (max-width: 1600px) {
      @content;
    }
  } @else
  if $point == mid {
    @media (max-width: 1000px) {
      @content;
    }
  } @else
  if $point == small {
    @media (max-width: 667px) {
      @content;
    }
  }
}

#slides {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.slide {
  position: fixed;
  padding-bottom: 50px;
  height: 60vmin;
  opacity: 0;
  overflow: hidden;
  @include resize(mid) {
  }
}

.showing {
  opacity: 1;
  overflow: hidden;
}

img {
  height: inherit !important;
  overflow: hidden;
}
