#slides {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide {
  position: fixed;
  padding-bottom: 50px;
  height: 74vmin;
  @include resize(small) {
      height: 90vmin;
  }
}

#slides:hover .overlay {
  padding-bottom: 50px;
  height: 60vmin;
  background: white;
  display: inline-block;
  z-index: 1;
}

#slides:hover .showing {
display: none;
}

img {
  height: inherit;
}
