#slides {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide {
  position: fixed;
  padding-bottom: 50px;
  height: 60vmin;
  opacity: 0;
  @include resize(mid) {}
}

.showing {
  opacity: 1;
}

.overlay {
  display: none;
}

#slides:hover .overlay {
  padding-bottom: 50px;
  height: 60vmin;
  background: white;
  display: inline-block;
  z-index: 1;
}

#slides:hover .showing {
display: none;
}

img {
  height: inherit;
}
