@mixin resize($point) {
  @if $point == large {
    @media (max-width: 1600px) {
      @content;
    }
  } @else 
  if $point == mid {
    @media (max-width: 1000px) {
      @content;
    }
  } @else 
  if $point == small {
    @media (max-width: 667px) {
      @content;
    }
  }
}
@import 'normalize';
@import 'typography';
@import 'navigation';
@import 'slideshow';
@import 'form';

*,
*:after,
*:before {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}